@import-normalize;

@font-face {
  font-family: 'BiroScriptPlus-Bold';
  src: url('../font/BiroScript/BiroScriptPlus-Bold.woff2') format('woff2'),
    url('../font/BiroScript/BiroScriptPlus-Bold.woff') format('woff'),
    url('../font/BiroScript/BiroScriptPlus-Bold.ttf') format('truetype'),
    url('../font/BiroScript/BiroScriptPlus-Bold.eot') format('eot');
  font-style: normal;
}

@font-face {
  font-family: 'Right Grotesk';
  src: url('../font/Right Grotesk/RightGrotesk-CompactBlack.otf')
    format('opentype');
  font-style: normal;
}

@font-face {
  font-family: 'MessinaSansMono-Regular';
  src: url('../font/MessinaSans/MessinaSansMono-Regular.woff2') format('woff2'),
    url('../font/MessinaSans/MessinaSansMono-Regular.woff') format('woff'),
    url('../font/MessinaSans/MessinaSansMono-Regular.eot') format('eot'),
    url('../font/MessinaSans/MessinaSansMono-Regular.ttf') format('truetype');
  font-style: normal;
}

:root {
  --text-font-family: 'MessinaSansMono-Regular', sans-serif;
  --heading-font-family: 'Right Grotesk', sans-serif;
  --cool-font-family: 'BiroScriptPlus-Bold', sans-serif;

  --main-bg-color: #181818;
  --secondary-background-color: #1e1e1e;
  --placeholder-color: rgba(255, 255, 255, 0.24);

  --light-text-color: #fff;
  --dark-text-color: #1e1e1e;

  --accent-color: #dc3b5a;
  --hover-color: #dc3b5a;

  --box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);

  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--main-bg-color);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, var(--text-font-family);
}

h1,
h2,
h3,
h4,
p {
  color: var(--light-text-color);
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: 0.02em;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  font-style: normal;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}
